<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ccut.invoice.query.dao.QueryCustomMapper" >
    <select id="selectAllCount" parameterType="cn.ccut.invoice.query.model.QueryVo" resultType="int">
        SELECT count(*) FROM invoice WHERE uid=#{uid} AND kind=#{kind}
        <if test="startDate != null and startDate != ''">
            AND date<![CDATA[>=]]>#{startDate}
        </if>
        <if test="endDate != null and endDate!= ''">
            AND date<![CDATA[<=]]>#{endDate}
        </if>
        <if test="query != null and query!= ''">AND name LIKE CONCAT(CONCAT('%', #{query}),'%')</if>
    </select>

    <select id="selectByLimit" parameterType="cn.ccut.invoice.query.model.QueryVo" resultType="cn.ccut.invoice.query.model.QueryCustom">
        SELECT * FROM invoice WHERE uid=#{uid} AND kind=#{kind}
        <if test="startDate != null and startDate != ''">
            AND date<![CDATA[>=]]>#{startDate}
        </if>
        <if test="endDate != null and endDate!= ''">
            AND date<![CDATA[<=]]>#{endDate}
        </if>
        <if test="query != null and query!= ''">AND name LIKE CONCAT(CONCAT('%', #{query}),'%')</if>
        limit #{startIndex},#{pageSize}
    </select>
</mapper>